.histfile
BetterDiscord/
nvim/
BraveSoftware/
Clementine/
Code/
GIMP/
GNU/
KDE/
Kvantum/
QtProject.conf
Thunar/
Trolltech.conf
VSCodium/
WebCord/
akregatorrc
arkrc
autostart/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
btop/
chromium/
dconf/
discord/
discordptb/
dolphinrc
electron25-flags.conf
environment.d/
filetypesrc
font-manager/
fontconfig/
git/
gtk-2.0/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
htop/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kcookiejarrc
kde.org/
kded5rc
kdedefaults/
kdeglobals
kfontinstuirc
kfontviewrc
kglobalshortcutsrc
khotkeysrc
kiorc
klipperrc
kmixrc
konsolerc
konsolesshconfig
kraxarn/
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ktimezonedrc
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libfm/
mimeapps.list
obs-studio/
okularpartrc
okularrc
org.gabmus.giara.json
pavucontrol.ini
pcmanfm/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma.emojierrc
plasmanotifyrc
plasmarc
plasmashellrc
powermanagementprofilesrc
pudb/
pulse/
session/
spectaclerc
spotify-qtrc
spotify-tui/
spotify/
startkderc
systemmonitorrc
systemsettingsrc
trashrc
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
xfce4/
xsettingsd/
