/** Basic config file **/

configuration {
  show-icons:         true;
  //icon-theme:         "fancy";
  matching: "fuzzy";
  sort-method: "fuzzy";
  font:"Fira Code Retina 14";
  combi-modi: "window,drun,ssh";
}
//@import "/usr/share/rofi/themes/fancy.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
@import "~/.config/rofi/colors-rofi-dark.rasi"
